
.quote-container {
    margin: 1rem;
    padding-top: 80px;
    padding-bottom: 80px;

    padding-left: clamp(6.875rem,-8.0925324675rem + 25.974025974vw,19.8295454545rem);
    padding-right: clamp(1.5rem,-13.2868601986rem + 30.8059587471vw,19.8295454545rem);    
}

.quote-text {
    font-weight: 700;
    font-size: 1.5rem;
    /* font-size: clamp(1.0rem, 1rem + 1vw, 1.75rem); */

    line-height: 1.3m;
    margin-bottom: 20px;
}

.quote-author {
    font-size: 0.9rem;
    line-height: 1.6;;
}