
.site-menu-content {
    position: absolute;
    z-index: 99;
    top: -510px;
    left: 80px;
    
    width: calc(100% - 80px);
    height: 510px;

    background-color: #ebebe3;
    /* border: 10px solid red; */

    transition: transform 0.5s ease-in;
    /* transform: translateY(100%); */

    display: flex;
    justify-content: space-around;
    padding-top: 80px;
    /* gap: 20px 0px; */
    /* align-items: center; */
}
.site-menu-content h1 { 
    font-weight: 700;
    padding: 10px;
}
.site-menu-content ul li {     
    margin: 10px 0;
}

.site-menu-content.active {
    position: absolute;    
    transform: translateY(590px);
}