
.site-menu-content {
    position: absolute;
    z-index: 99;
    top: -510px;
    left: 80px;
    
    width: calc(100% - 80px);
    height: 510px;

    background-color: #ebebe3;    

    transition: transform 0.3s ease-in;
    
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 80px;   
    
}
.site-menu-content h1 { 
    font-weight: 700;
    padding: 10px;    
}
/* .site-menu-content h1.invisible {
    opacity: 0;
    color: red;
} */


.site-menu-content ul li {     
    margin: 10px 0;
}

.site-menu-content ul li a {
    display: inline-block;
    font-size: 0.9rem;
}

.site-menu-content.active {    
    transform: translateY(590px);
    /* transform: translateY(290px); */
}