

.cta-panel {
    position: relative;
    height: 100%;        
    padding: 40px;
    color: white;
    width: 275px;
    overflow:hidden;
}

.cta-panel::after {
    background-color: transparent;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAWgAAABaAgMAAADoTiRUAAAADFBMVEUAAAAAAAAAAAAAAAA16TeWAAAAA3RSTlMA32CxZHxWAAABEklEQVRYw7XOsQ3DMAAEMbXeMpt5y7RKyTrAHyfg+cfzOZX3eyLPvVX7vVd7ndaep7XXae0grb1Nawdp7SCtvUxrB2ntIK0dpLWDtPYmHbSlg7Z00JbWDtLaQVo7SGsHae0grb1Lawdp7SCtHaS1g7R2kNbepbWDtHaQ1g7S2kFaO0hr79LaQVo7SGsHae0grR2ktXdp7SCtHaS1g7T2NK09SYP2Lq0dpLWDtHaQ1g7S2kFae5fWDtLaQVo7SGsHae0grb1Lawdp7SCtHaS1g7R2kNbepbWDtHaQ1g7S2kFaO0hr79LaQVo7SGsHae0grS0dtKWDtvSsHaS1pYO2dNCWnraDtLZ00JbetoO0tvS6/QNHgsMQK2v8QgAAAABJRU5ErkJgggo=);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    bottom: 0;
    content: " ";
    display: block;
    height: 92px;
    left: 0;
    opacity: 0.1;
    position: absolute;
    top: auto;   
    transition: opacity .2s ease;
    width: 100%;
    z-index: 2;
}

.cta-panel:hover::after {
    opacity: 0.2;
}

.cta-panel.blue {
    background-color: var(--accent-color-blue);
}

.cta-panel.red {
    background-color: var(--accent-color-red);
}

.cta-panel.green {
    background-color: var(--accent-color-green);
}

.cta-panel.yellow {
    background-color: var(--accent-color-yellow);
}

.cta-heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.65rem;
    text-transform: uppercase;
    line-height: 0.95em;
}

.cta-details {   
    display:flex; 
    margin-top: 20px;
}

.cta-details::before {
    content: ' ';        
    background-color: white;    
    width: 14px;
    height: 4px;     
    position: relative;
    top: 8px;
    margin-right: 8px;
    transition: width .2s ease-out;
}

.cta-details:hover::before {
    width: 20px;    
}