
.news-panel {
    /* HACKS FOR DEV */
    position: relative;
    z-index: 1000;    
    margin-top: 300px;    
    margin-bottom: 200px;

    /* REAL STYLES HERE */
    overflow: hidden;
    padding-left: 80px;

    display: grid;
    grid-template-columns: 100px 1fr;
}

.news-banner {
    border: 1px solid black;    
}

.news-content {
    border: 1px solid red;
}

.content-body {
    position: relative;
    overflow-x:hidden;

    display: grid;
    grid-template-rows: 1fr 80px;
}


.content-footer {
    /* height: 100%; */
    /* padding: 0 60px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls-container {
    border: 1px solid red;    
    display: flex;
    justify-content: space-between;
    gap: 20px;
}