
.news-panel {
    /* HACKS FOR DEV */
    /* position: relative; */
    /* z-index: 1000;     */
    /* margin-top: 300px;     */
    /* margin-bottom: 200px; */

    /* REAL STYLES HERE */
    overflow: hidden;
    padding: 100px;
    padding-left: 80px;
    padding-right: 0px;

    /* display: grid; */
    /* grid-template-columns: 100px 1fr; */

    background-color: black;
    color: white;
}

.news-banner {
    position: absolute;
    /* top: 0px; */
    /* top: 30px; */
    /* border: 1px solid red;     */
    font-size: 2em;
    /* padding: 0px; */
    /* padding-bottom: 35px; */
    margin: 0px;
    transform-origin: left top;
    transform: rotate(90deg) translateY(-100%);

}

.news-content {
    /* border: 1px solid white; */
    margin-left: 80px;
    
}

.content-body {
    position: relative;
    overflow-x:hidden;

    display: grid;
    grid-template-rows: 1fr 80px;
}


.content-footer {
    /* height: 100%; */
    /* padding: 0 60px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}

.controls-container {
    border: 1px solid red;    
    display: flex;
    justify-content: space-between;
    gap: 20px;
}