@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

html,
body,
#__next {
  height: 100%;
}

:root {
    --accent-color-yellow: #ffde59;
    --accent-color-green: #00a17b;
    --accent-color-bright: #3bd0ff;
    --accent-color-blue: #0038d6;
    --accent-color-red: #ff1e29;
    --primary-color: #000;
    --secondary-color: #fff;   
    
    --small-screen: 767px;
}

$accent-color-yellow: #ffde59;
$accent-color-green: #00a17b;
$accent-color-bright: #3bd0ff;
$accent-color-blue: #0038d6;
$accent-color-red: #ff1e29;
$primary-color: #000;
$secondary-color: #fff;

html {
    font-size: 15px;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;

}

.page {  
  position: relative;  
  min-height: 100vh;
//   background: linear-gradient(rgba(0, 123, 255, 0.1) 25%, rgba(255,255,255, 1));  
//   border: 2px solid skyblue;
}
// .page > h1 { 
//   text-align: center;
//   font-size: 2em;  
// }

.header, .footer {
  min-height: 30vh;
  border: 1px solid #ccc;

  display: grid;
  place-content: center;
}


// ----------------------------------------------------------------------
//                          BLOG
// ----------------------------------------------------------------------
.post-content p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-content a {
    // position: relative;
    // color: blue;
    background-image: linear-gradient(#3bd0ff,#3bd0ff);
    background-position: 0 1.2em;
    background-repeat: repeat-x;
    background-size: 1px 100%;
    padding: 0.4em 0.1em 0.1em;

    transition: all 0.2s;
}

.post-content a:hover {
    background-position-y: 0;
}

// .post-content a::after {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;    
//     height: 10px;
//     background-color: var(--accent-color-yellow);
// }



// ----------------------------------------------------------------------
//                          TEXT IMAGE PANEL
// ----------------------------------------------------------------------

.contentPanel {
    // border: 1px solid #ccc;
    place-content: center;
    // padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    .heading {
        font-size: clamp(1.00rem,-1.25rem + 5.8333333333vw,2.2525rem);
        text-transform: uppercase;
        font-weight: 700;

        // font-family: "Oswald", sans-seriff;
        font-family: "Roboto", sans-seriff;
        // font-family: "Open Sans", sans-seriff;
        line-height: 1em;
    }

    .body {
        font-size: 1rem;
        font-size: clamp(0.9rem,-1.25rem + 2.8333333333vw,1.0rem);
    } 
}

.textImagePanel {
    overflow: hidden;

    min-height: 90vh;
    max-height: 90vh;    

    padding: 80px;
    margin: 40px;

    display: grid;
    grid-template-columns: 1.4fr 2fr;
    
    .imagePanel {
        pointer-events: none;

        position: relative;
        width: 100%;
        height: 90%;        
        overflow: hidden;    /* Change this after animation ends */
    }
    
    @keyframes unclip {        
        100% { overflow: unset; }
    }

    .imagePanel::after {
        content: '';
        position: absolute;
        z-index: 100;
        top: 30%;
        left: 0;        
        height: 12px;
        width: 120px;

        background-color: $accent-color-green;                
    }

    &:nth-child(2n) .imagePanel:after {         
        background-color: $accent-color-yellow;                
    }
   
    // .imagePanel:hover::after {
    //     animation: stretch 0.4s forwards;
    //     animation-delay: 0.99s;
    // }
    @keyframes stretch {            
        100% { 
            width: 150px; 
            left: -30px;
        }
    }

    .imagePanel::before {
        content: '';
        position: absolute;
        z-index: 200;
        width: 200%;
        height: 100%;
        background: linear-gradient(
            to right,
            white,
            white 51%,
            #ccc 55%,
            #ccc
        );  

        transform: translateX(0%);      
    }
    
    @keyframes reveal {
        0% { transform: translateX(0%); }
        80% { opacity: 1; }
        100% { 
            transform: translateX(-100%);
            opacity: 0;
        }
    }

    &.active {
        // Move white/gray container off image
        .imagePanel::before {
            animation: reveal 1.0s ease-out forwards;
        }

        // Allow content to exist outside container
        .imagePanel {
            animation: unclip 0s forwards;
            animation-delay: 1.0s;
        }

         // Stretch the accent line 
         .imagePanel::after {
            animation: stretch 0.4s forwards;
            animation-delay: 0.99s;
        }
    }


    // REVERSE LAYOUT AND ANIMATIONS
    &.left {
        grid-template-columns: 2fr 1.4fr;

        .contentPanel { 
            order: 1;
        }

        .imagePanel::after {            
            left: calc(100% - 120px);
        }
        // .imagePanel:hover::after {
        //     animation: stretch-reverse 0.4s forwards;
        //     animation-delay: 0.99s;
        // }
        .imagePanel::before {
            background: linear-gradient(
            to left,
            white,
            white 51%,
            #ccc 55%,
            #ccc
        );
            transform: translateX(-49%);      // Fixes bug where just a sliver was visible on wider screens
        }
        // .imagePanel:hover::before {
        //     animation: reveal-reverse 1.0s ease-out forwards;
        // }      

        @keyframes stretch-reverse {            
            100% { 
                width: 150px;                 
            }
        }
        @keyframes reveal-reverse {
            0% { transform: translateX(-50%); }
            80% { opacity: 1; }
            100% { 
                transform: translateX(50%);
                opacity: 0;
            }
        }

        &.active {
            // Stretch the accent line 
            .imagePanel::after {
                animation: stretch-reverse 0.4s forwards;
                animation-delay: 0.99s;
            }
    
            // Move white/gray container off image
            .imagePanel::before {
                animation: reveal-reverse 1.0s ease-out forwards;
            } 
        }

    }
}

.button {
    position: relative;
    
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.5714285714;
    padding: 16px 30px 12px;

    transition: color .2s ease, border-color .2s ease, background-color .2s ease;
    border-radius: 30px;    

    &.hollow {
        background: transparent;
        border: 2px solid $primary-color;        
        color: $primary-color;    
    }
        
    &:hover {
        background-color: $accent-color-bright;
        border-color: $accent-color-bright;
        color: $primary-color;        
    }
}

.white {
    color: white;
}

.dark-button {
    background-color: black;
    color: white;
}


.invisible {
    opacity: 0;   
}


// ----------------------------------------------------------------------
//     CONTROL GRID AND SLIDER - Stuff that CSS MOdules can't handle
// ----------------------------------------------------------------------

.left-control, .right-control {
    position: relative;
    border-radius: 50%;
    border: 1px solid white;
    height: 30px;
    width: 30px;
    margin: 0 20px;

    transition: opacity 0.3s;
    opacity: 0;

    color: white;
}
.left-control::after {
    content: '<';
    position: absolute;
    top: -4px;
    left: 5px;
    font-size: 1.5em;
}
.right-control::after {
    content: '>';
    position: absolute;
    top: -4px;
    left: 7px;
    font-size: 1.5em;
}

.right-control:hover, .left-control:hover {
    color: black;
    border-color: black;
}

#slideContainer:hover .left-control, #slideContainer:hover .right-control {
    opacity: 1;
}


// ----------------------------------------------------------------------
//                          BACKGROUND COLORS
// ----------------------------------------------------------------------
.blue {
    background-color: var(--accent-color-blue);
}

.light-blue {
    background-color: var(--accent-color-bright);
}

.red {
    background-color: var(--accent-color-red);
}

.green {
    background-color: var(--accent-color-green);
}

.yellow {
    background-color: var(--accent-color-yellow);
}

// ----------------------------------------------------------------------
//                          HOVER LINKS
// ----------------------------------------------------------------------

.hover-link { 
    display:flex;    
    text-transform: uppercase; 
    font-size: 0.95rem;
    color: white;
}

.hover-link::before {
    content: ' ';        
    background-color: white;    
    width: 14px;
    height: 4px;     
    position: relative;
    top: 8px;
    margin-right: 8px;
    transition: width .2s ease-out;
}

.hover-link:hover::before {
    width: 20px;        
}


.dragstart {
    pointer-events: none;
    background-color: yellow;
}


// ----------------------------------------------------------------------
//                          MEDIA QUERIES
// ----------------------------------------------------------------------



/* Screens smaller than 900px */
@media screen and (max-width: 900px) {
    .textImagePanel, .textImagePanel.left  {
        grid-template-columns: 1fr;
        
        max-height: unset;
        min-height: unset;

        margin: 0;
        // margin-left: 80px;        
        padding: 20px;
        padding-left: 80px;

        .imagePanel {
            grid-row-start: -1;
            height: 50vh;
        }
        .imagePanel:after {
            width: 12px;
            height: 70px;
            top: 80%;
            left: 5%;           
        }       
    }

    .textImagePanel {
        @keyframes stretch {                     
            100% { 
                 height: 85px;                 
            }
        }
        
        @keyframes stretch-reverse {                     
            100% { 
                 height: 85px;                 
            }
        }

        // &.left {
        //     @keyframes stretch {                     
        //         100% { 
        //              height: 85px;                 
        //         }
        //     }
        // }
    }
}


.site-menu-item {    
    display: block;
    position: relative;
    cursor: pointer;    
    transition: color 0.2s ease-in;
    z-index: 1000;  
    padding: 3px 10px;    
    
    overflow: hidden;
}

.site-menu-item::before {       
    content: '';
    display: block;
    position: absolute; 
    z-index: -1;
    background-color: black;
    width: 100%;
    height: 100%;    
    top: 0;
    left: -100%;    

    transition: transform 0.3s ease-in-out;
}

.site-menu-item:hover, .site-menu-item.active {
    color:white;
}

.footer-menu .site-menu-item:hover, .site-menu-item.active {
    color: black;
}

.footer-menu .site-menu-item::before { 
    background-color: $accent-color-bright;
}

.site-menu-item:hover::before, .site-menu-item.active::before {
    transform: translateX(100%);
}



// Good Resources
// Gradients - https://css-tricks.com/books/greatest-css-tricks/hard-stop-gradients/
// Animations - https://cssanimation.rocks/pseudo-elements/
// Sass - https://sass-lang.com/documentation/variables