@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
#__next {
  height: 100%;
}

:root {
  --accent-color-yellow: #ffde59;
  --accent-color-green: #00a17b;
  --accent-color-bright: #3bd0ff;
  --accent-color-blue: #0038d6;
  --accent-color-red: #ff1e29;
  --primary-color: #000;
  --secondary-color: #fff;
  --small-screen: 767px;
  --fluid-nav-height: 110px;
  --offset-sidebar: clamp(4.375rem,-0.0694444444rem + 9.2592592593vw,6.875rem);
  --offset-sidebar: 110px;
  --offset-bottom: 80px;
}

html {
  font-size: 15px;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

.page {
  position: relative;
  min-height: 100vh;
}

.header, .footer {
  min-height: 30vh;
  border: 1px solid #ccc;
  display: grid;
  place-content: center;
}

.content-wrapper {
  padding-left: var(--offset-sidebar);
  margin-bottom: var(--offset-bottom);
}

.post-content p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-content a {
  background-image: linear-gradient(#3bd0ff, #3bd0ff);
  background-position: 0 1.2em;
  background-repeat: repeat-x;
  background-size: 1px 100%;
  padding: 0.4em 0.1em 0.1em;
  transition: all 0.2s;
}

.post-content a:hover {
  background-position-y: 0;
}

.contentPanel {
  place-content: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contentPanel .heading {
  font-size: clamp(1rem, -1.25rem + 5.8333333333vw, 2.2525rem);
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Roboto", sans-seriff;
  line-height: 1em;
}
.contentPanel .body {
  font-size: 1rem;
  font-size: clamp(0.9rem, -1.25rem + 2.8333333333vw, 1rem);
}

.textImagePanel {
  overflow: hidden;
  min-height: 90vh;
  max-height: 90vh;
  padding: 80px;
  margin: 40px;
  display: grid;
  grid-template-columns: 1.4fr 2fr;
}
.textImagePanel .imagePanel {
  pointer-events: none;
  position: relative;
  width: 100%;
  height: 90%;
  overflow: hidden; /* Change this after animation ends */
}
@keyframes unclip {
  100% {
    overflow: unset;
  }
}
.textImagePanel .imagePanel::after {
  content: "";
  position: absolute;
  z-index: 100;
  top: 30%;
  left: 0;
  height: 12px;
  width: 120px;
  background-color: #00a17b;
}
.textImagePanel:nth-child(2n) .imagePanel:after {
  background-color: #ffde59;
}
@keyframes stretch {
  100% {
    width: 150px;
    left: -30px;
  }
}
.textImagePanel .imagePanel::before {
  content: "";
  position: absolute;
  z-index: 200;
  width: 200%;
  height: 100%;
  background: linear-gradient(to right, white, white 51%, #ccc 55%, #ccc);
  transform: translateX(0%);
}
@keyframes reveal {
  0% {
    transform: translateX(0%);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
.textImagePanel.active .imagePanel::before {
  animation: reveal 1s ease-out forwards;
}
.textImagePanel.active .imagePanel {
  animation: unclip 0s forwards;
  animation-delay: 1s;
}
.textImagePanel.active .imagePanel::after {
  animation: stretch 0.4s forwards;
  animation-delay: 0.99s;
}
.textImagePanel.left {
  grid-template-columns: 2fr 1.4fr;
}
.textImagePanel.left .contentPanel {
  order: 1;
}
.textImagePanel.left .imagePanel::after {
  left: calc(100% - 120px);
}
.textImagePanel.left .imagePanel::before {
  background: linear-gradient(to left, white, white 51%, #ccc 55%, #ccc);
  transform: translateX(-49%);
}
@keyframes stretch-reverse {
  100% {
    width: 150px;
  }
}
@keyframes reveal-reverse {
  0% {
    transform: translateX(-50%);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateX(50%);
    opacity: 0;
  }
}
.textImagePanel.left.active .imagePanel::after {
  animation: stretch-reverse 0.4s forwards;
  animation-delay: 0.99s;
}
.textImagePanel.left.active .imagePanel::before {
  animation: reveal-reverse 1s ease-out forwards;
}

.button {
  position: relative;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5714285714;
  padding: 16px 30px 12px;
  transition: color 0.2s ease, border-color 0.2s ease, background-color 0.2s ease;
  border-radius: 30px;
}
.button.hollow {
  background: transparent;
  border: 2px solid #000;
  color: #000;
}
.button:hover {
  background-color: #3bd0ff;
  border-color: #3bd0ff;
  color: #000;
}

.white {
  color: white;
}

.dark-button {
  background-color: black;
  color: white;
}

.invisible {
  opacity: 0;
}

.left-control, .right-control {
  position: relative;
  border-radius: 50%;
  border: 1px solid white;
  height: 30px;
  width: 30px;
  margin: 0 20px;
  transition: opacity 0.3s;
  opacity: 0;
  color: white;
}

.left-control::after {
  content: "<";
  position: absolute;
  top: -4px;
  left: 5px;
  font-size: 1.5em;
}

.right-control::after {
  content: ">";
  position: absolute;
  top: -4px;
  left: 7px;
  font-size: 1.5em;
}

.right-control:hover, .left-control:hover {
  color: black;
  border-color: black;
}

#slideContainer:hover .left-control, #slideContainer:hover .right-control {
  opacity: 1;
}

.blue {
  background-color: var(--accent-color-blue);
}

.light-blue {
  background-color: var(--accent-color-bright);
}

.red {
  background-color: var(--accent-color-red);
}

.green {
  background-color: var(--accent-color-green);
}

.yellow {
  background-color: var(--accent-color-yellow);
}

.hover-link {
  display: flex;
  text-transform: uppercase;
  font-size: 0.95rem;
  color: white;
}

.hover-link::before {
  content: " ";
  background-color: white;
  width: 14px;
  height: 4px;
  position: relative;
  top: 8px;
  margin-right: 8px;
  transition: width 0.2s ease-out;
}

.hover-link:hover::before {
  width: 20px;
}

.dragstart {
  pointer-events: none;
  background-color: yellow;
}

/* Screens smaller than 900px */
@media screen and (max-width: 900px) {
  .textImagePanel, .textImagePanel.left {
    grid-template-columns: 1fr;
    max-height: unset;
    min-height: unset;
    margin: 0;
    padding: 20px;
    padding-left: 80px;
  }
  .textImagePanel .imagePanel, .textImagePanel.left .imagePanel {
    grid-row-start: -1;
    height: 50vh;
  }
  .textImagePanel .imagePanel:after, .textImagePanel.left .imagePanel:after {
    width: 12px;
    height: 70px;
    top: 80%;
    left: 5%;
  }
  @keyframes stretch {
    100% {
      height: 85px;
    }
  }
  @keyframes stretch-reverse {
    100% {
      height: 85px;
    }
  }
}
.site-menu-item {
  display: block;
  position: relative;
  cursor: pointer;
  transition: color 0.2s ease-in;
  z-index: 1000;
  padding: 3px 10px;
  overflow: hidden;
}

.site-menu-item::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  transition: transform 0.3s ease-in-out;
}

.site-menu-item:hover, .site-menu-item.active {
  color: white;
}

.footer-menu .site-menu-item:hover, .site-menu-item.active {
  color: black;
}

.footer-menu .site-menu-item::before {
  background-color: #3bd0ff;
}

.site-menu-item:hover::before, .site-menu-item.active::before {
  transform: translateX(100%);
}/*# sourceMappingURL=global.css.map */