@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
#__next {
  height: 100%;
}

:root {
  --accent-color-yellow: #ffde59;
  --accent-color-green: #00a17b;
  --accent-color-bright: #3bd0ff;
  --accent-color-blue: #0038d6;
  --accent-color-red: #ff1e29;
  --primary-color: #000;
  --secondary-color: #fff;
}

html {
  font-size: 15px;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

.page {
  position: relative;
  min-height: 100vh;
}

.header, .footer {
  min-height: 30vh;
  border: 1px solid #ccc;
  display: grid;
  place-content: center;
}

.textImagePanel {
  overflow: hidden;
  min-height: 90vh;
  max-height: 90vh;
  margin: 40px;
  display: grid;
  grid-template-columns: 1.4fr 2fr;
}
.textImagePanel .contentPanel {
  place-content: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.textImagePanel .contentPanel .heading {
  font-size: clamp(1rem, -1.25rem + 5.8333333333vw, 2.2525rem);
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Roboto", sans-seriff;
  line-height: 1em;
}
.textImagePanel .contentPanel .body {
  font-size: 1rem;
  font-size: clamp(0.9rem, -1.25rem + 2.8333333333vw, 1rem);
}
.textImagePanel .imagePanel {
  pointer-events: none;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Change this after animation ends */
}
@keyframes unclip {
  100% {
    overflow: unset;
  }
}
.textImagePanel .imagePanel::after {
  content: "";
  position: absolute;
  z-index: 100;
  top: 30%;
  left: 0;
  height: 14px;
  width: 120px;
  background-color: #00a17b;
}
.textImagePanel:nth-child(2n) .imagePanel:after {
  background-color: #ffde59;
}
@keyframes stretch {
  100% {
    width: 150px;
    left: -30px;
  }
}
.textImagePanel .imagePanel::before {
  content: "";
  position: absolute;
  z-index: 200;
  width: 200%;
  height: 100%;
  background: linear-gradient(to right, white, white 51%, #ccc 55%, #ccc);
  transform: translateX(0%);
}
@keyframes reveal {
  0% {
    transform: translateX(0%);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
.textImagePanel.active .imagePanel::before {
  animation: reveal 1s ease-out forwards;
}
.textImagePanel.active .imagePanel {
  animation: unclip 0s forwards;
  animation-delay: 1s;
}
.textImagePanel.active .imagePanel::after {
  animation: stretch 0.4s forwards;
  animation-delay: 0.99s;
}
.textImagePanel.left {
  grid-template-columns: 2fr 1.4fr;
}
.textImagePanel.left .contentPanel {
  order: 1;
}
.textImagePanel.left .imagePanel::after {
  left: calc(100% - 120px);
}
.textImagePanel.left .imagePanel::before {
  background: linear-gradient(to left, white, white 51%, #ccc 55%, #ccc);
  transform: translateX(-49%);
}
@keyframes stretch-reverse {
  100% {
    width: 150px;
  }
}
@keyframes reveal-reverse {
  0% {
    transform: translateX(-50%);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateX(50%);
    opacity: 0;
  }
}
.textImagePanel.left.active .imagePanel::after {
  animation: stretch-reverse 0.4s forwards;
  animation-delay: 0.99s;
}
.textImagePanel.left.active .imagePanel::before {
  animation: reveal-reverse 1s ease-out forwards;
}

.button {
  position: relative;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5714285714;
  padding: 16px 30px 12px;
}
.button.hollow {
  background: transparent;
  border: 2px solid #000;
  border-radius: 30px;
  color: #000;
  transition: color 0.2s ease, border-color 0.2s ease, background-color 0.2s ease;
}
.button.hollow:hover {
  background-color: #3bd0ff;
  border-color: #3bd0ff;
  color: #000;
}/*# sourceMappingURL=global.css.map */